body {
    background-color: black;
    color: white;
   
}

h1{
    font-size:88px;
    font: bold;
    text-shadow: 33px 22px red;
    text-align: center;
   
}

h2 {
    font-size:60px;
    font-family:KaiTi;
    font-feature-settings:"kern";
    font-size-adjust:initial;
}

h3{
    text-shadow: 20px 20px;
}

button{
    color: rgb(131, 43, 60);
    background-color: rgb(0, 0, 0);
}
